Repository pavelsvagr/gothicards-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: interfaces, cards, units, buildings, effects, items, texts

.github/labeler.yml:

interfaces: 
  - any: ['src/lib/*.ts']

cards: 
  - any: ['src/lib/cards/**/*.ts']

units: 
  - any: ['src/lib/cards/units/*.ts']

buildings: 
  - any: ['src/lib/cards/buildings/*.ts']

effects: 
  - any: ['src/lib/cards/effects/*.ts']

items: 
  - any: ['src/lib/cards/items/*.ts']

texts: 
  - any: ['src/lib/cards/texts/*.ts']

✨ Add first monsters cards
  src/lib/cardLoader.ts
  src/lib/cards/buildings/abadonedMine.ts
  src/lib/cards/buildings/index.ts
  src/lib/cards/buildings/oldCave.ts
  src/lib/cards/effects/courtship.ts
  src/lib/cards/effects/diggersMeat.ts
  src/lib/cards/effects/healingRoot.ts
  src/lib/cards/effects/index.ts
  src/lib/cards/texts/buildings.ts
  src/lib/cards/texts/effects.ts
  src/lib/cards/texts/units.ts
  src/lib/cards/units/blackGoblin.ts
  src/lib/cards/units/bloodfly.ts
  src/lib/cards/units/fieldraider.ts
  src/lib/cards/units/goblinBandit.ts
  src/lib/cards/units/goblinSkeleton.ts
  src/lib/cards/units/goblinWarrior.ts
  src/lib/cards/units/harpy.ts
  src/lib/cards/units/index.ts
  src/lib/cards/units/minecrawler.ts
  src/lib/cards/units/molerat.ts
  src/lib/cards/units/scavenger.ts
  src/lib/cards/units/snapper.ts
  src/lib/cards/units/swampGolem.ts
  src/lib/cards/units/swampgasdrone.ts
  src/lib/cards/units/wolf.ts
  src/lib/conditions.ts
  src/lib/effects.ts
  src/lib/enums.ts
  src/lib/formatting.ts
  src/main.ts
Labels: interfaces, cards, units, buildings, effects, texts

🐛Add missing export for harpy card
  src/lib/cards/units/index.ts
Labels: cards, units

🐛 Fix old cave definition
  src/lib/cards/buildings/oldCave.ts
  src/lib/cards/texts/buildings.ts
  src/lib/definitions.ts
  src/lib/effects.ts
Labels: interfaces, cards, buildings, texts

♻️ Removed useless comment
  src/lib/cardLoader.ts
Labels: interfaces

🔧 Prepare missing configuration files for linting and compiling.
  .editorconfig
  .eslint.tsconfig.json
  .eslintignore
  .eslintrc.js
  .prettierignore
  .prettierrc.js
  jsconfig.json
  package-lock.json
  prettier.config.js
  tsconfig.json
Labels: none

✨ Add card loading by slug.
  src/lib/cardLoader.ts
  src/main.ts
Labels: interfaces

📝 Add json rich text information to readme.
  README.md
Labels: none

⚗ Changed Goblin Skeleton damage
  src/lib/cards/units/goblinSkeleton.ts
Labels: cards, units

⚗ Add 1 health point to wolf
  src/lib/cards/units/wolf.ts
Labels: cards, units

✨ Add json rich text definitions for effects.
  src/lib/cards/buildings/abadonedMine.ts
  src/lib/cards/buildings/oldCave.ts
  src/lib/cards/effects/courtship.ts
  src/lib/cards/effects/diggersMeat.ts
  src/lib/cards/effects/healingRoot.ts
  src/lib/cards/units/blackGoblin.ts
  src/lib/cards/units/bloodfly.ts
  src/lib/cards/units/fieldraider.ts
  src/lib/cards/units/goblin.ts
  src/lib/cards/units/goblinBandit.ts
  src/lib/cards/units/goblinSkeleton.ts
  src/lib/cards/units/goblinWarrior.ts
  src/lib/cards/units/minecrawler.ts
  src/lib/cards/units/molerat.ts
  src/lib/cards/units/scavenger.ts
  src/lib/cards/units/snapper.ts
  src/lib/cards/units/swampGolem.ts
  src/lib/cards/units/swampgasdrone.ts
  src/lib/cards/units/wolf.ts
  src/lib/effects.ts
  src/lib/formatting.ts
Labels: interfaces, cards, units, buildings, effects

➕ Add lodash and json-rt
  package-lock.json
  package.json
Labels: none

🙈 Add tsbuildinfo file to .gitignore
  .gitignore
Labels: none

✨ Add json-rt vocabulary for keywords
  src/lib/cardLoader.ts
  src/lib/cards/buildings/abadonedMine.ts
  src/lib/cards/buildings/oldCave.ts
  src/lib/cards/effects/courtship.ts
  src/lib/cards/effects/diggersMeat.ts
  src/lib/cards/effects/healingRoot.ts
  src/lib/cards/items/index.ts
  src/lib/cards/units/blackGoblin.ts
  src/lib/cards/units/bloodfly.ts
  src/lib/cards/units/fieldraider.ts
  src/lib/cards/units/goblin.ts
  src/lib/cards/units/goblinBandit.ts
  src/lib/cards/units/goblinSkeleton.ts
  src/lib/cards/units/goblinWarrior.ts
  src/lib/cards/units/minecrawler.ts
  src/lib/cards/units/molerat.ts
  src/lib/cards/units/scavenger.ts
  src/lib/cards/units/snapper.ts
  src/lib/cards/units/swampGolem.ts
  src/lib/cards/units/swampgasdrone.ts
  src/lib/cards/units/wolf.ts
  src/lib/definitions.ts
  src/lib/effects.ts
  src/lib/formatting.ts
  src/lib/richText.ts
Labels: interfaces, cards, units, buildings, effects, items

🔖 0.1.0
  package-lock.json
  package.json
Labels: none

🚨 Remove unused import of RichTextBlock
  src/lib/cards/units/scavenger.ts
  src/lib/cards/units/swampGolem.ts
  src/lib/formatting.ts
Labels: interfaces, cards, units

🔖 0.1.1
  package-lock.json
  package.json
Labels: none

✨ Add more exports, use declaration
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Labels: none

✨ Add more exports
  src/lib/cardLoader.ts
  src/main.ts
Labels: interfaces

🔖 0.2.1
  package-lock.json
  package.json
Labels: none
